@charset "utf-8";


/* ================================================================================ */ 
/* import custom fonts */
/* ================================================================================ */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,700,700i,900,900i');

/* =============================================================================== */
/* import fonts icons */
/* ================================================================================ */

@import url("../fonts/fonts-awesome/css/font-awesome.css");
@import url("../fonts/elegant_font/HTML_CSS/styles.css");
@import url("../fonts/et-line-font/style.css");

/* ================================================================================ */
/* body */
/* ================================================================================ */

html {
  background:#000 !important;
}

body { 
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #888;
  line-height: 1.7em;
  padding: 0;
  background: #606060;
  display: none;
}

body.de_light {
  color: #888;
}

#wrapper {
  overflow: hidden;
}

.de-navbar-left #wrapper {
  overflow: visible;
}

/* ================================================================================ */
/* header */
/* ================================================================================ */

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-tranisition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3;
  background: #141518;
  border-bottom: solid 1px rgba(0,0,0,0.0);

  .info {
    color: #fff;
    padding: 10px 0 10px 0;
    width: 100%;
    z-index: 100;
    border-bottom: solid 1px rgba(255,255,255,0.2);

    .col {
      display: inline-block;
      font-size: 12px;
      
      &:last-child {
        padding-right: 0px;
      }
    }
    
    i {
      font-size: 14px;
      margin-right: 15px;
    }
    
    .social {
      &.col {
        border: none;
      }
      
      i {
        color: #fff;
        font-size: 14px;
        display: inline-block;
        float: none;
        padding: 0 10px 0 10px;
        margin: 0;
      }
    }

    strong {
      font-size: 12px;
    }
  }
     
  &.header-bg {
    background: rgba(0,0,0,0.5);
  }

  &.transparent {
    background: rgba(0,0,0,0.0);
  }
  
  &.autoshow {
    top:-120px;
    height:70px !important;
    
    &.scrollOn, &.scrollOff {
      -o-transition: 0.5s;
      -ms-transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
    }

    &.scrollOn {
      top: 0;
    }

    &.scrollOff {
      top: -120px;
    }
  }

  div#logo {
    display: inline-block;
    height: 100%;
    float: left;
    font-family: "Oswald", sans-sarif;
    font-size: 72px;
    color: white;
    font-weight: 400;
    line-height: 60px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    .logo-2 {
      display: none;
    }
  }

  nav {
    float: right;

    a { 
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;

      &:hover {
        color: #555;
      }
    }
  }
  
  &.smaller {
    height: 70px;
    background: rgba(30,33,36,0.95);
     
    #mainmenu {
      a {
        padding-top: 18px;
        padding-bottom: 18px;
      }

      li li a { 
        padding-top: 2px;
        padding-bottom: 2px;
      }

      ul {
        top: 70px;

        ul {
          top: 70px;
        }
      }
    }

    div#logo {
      line-height: 48px;
    }

    .scroll-light {
      background: #fff;
      border-bottom: solid 1px #eee;

      div#logo .logo {
        display: none;
      }

      div#logo .logo-2 {
        display: inline-block;
      }

      #mainmenu a {
        color: #333;
      }

      #mainmeny li li a {
        color: #fff;
      }
    }
  }
}

.logo-smaller {
  div#logo {
    width: 150px;
    height: 30px;
    line-height: 65px;
    font-size: 30px;
    
    img {
      line-height: 75px;
      font-size: 30px;
    }

    .logo-1 {
      display: none;
    }

    .logo-2 {
      display: inline-block;
    }
  }
}

.logo-small {
  margin-bottom:20px;
}

header.de_header_2 {
  height: 125px;

  &.smaller {
    height: 70px;

    .info {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
  }
}

/* subheader */

#subheader {
  padding-bottom: 70px;
  background: #222;
  text-align: center;

  h1 {
    color: #eceff3;
    margin-top: 80px;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
  }

  span {
    letter-spacing: 2px;
    display: inline-block;
    font-size: 15px;
    margin-top: 88px;
    color: #fff;
  }

  .crumb {
    font-size: 10px;
    letter-spacing: 3px;
    margin-top: 20px;
    color: #fff;
  }

  .small-border-deco {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.1);
  
    span {
      display: block;
      margin: 0 auto;
      height: 2px;
      width: 100px;
    }
  }
}

/* ================================================================================ */
/* navigation */
/* ================================================================================ */ 

#mainmenu {
  float: right;
  font-size: 13px;
  font-weight: lighter;

  ul {
    float: right;
    margin: 0px;
    padding: 0px;
    height: 30px;
  }

  li {
    margin: 0px;
    padding: 0px;
    float: left;
    display: inline;
    list-style: none;
    position: relative;

    a:after {
      float: right;
      position: relative;
      font-family: "FontAwesome";
      content: "\f111";
      font-size: 6px;
      margin-left: 20px;
      margin-top: 20px;
      color: #f7c51e;
    }
    
    &:last-child a:after {
      display: none;
    }
  }

  a { 
    display: inline-block;
    padding: 25px 0px 25px 20px;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    outline: none;
  }
}

#mainmenu.line-separator li a:after {
  content: "/";
  font-size: 14px;
}

#mainmenu.circle-separator li a:after {
  contnet: "\f10c";
  font-size: 9px;
}

#mainmenu.strip-separator li a:after {
  contnet: "\f068";
  font-size: 9px;
}

#mainmenu.plus-separator li a:after {
  content: "\f067";
  font-size: 11px;
}

#mainmenu.square-separator li a:after {
  contnet: "\f096";
  font-size: 11px;
}

