.bg-color-000 {
	background-color: #E1E4EB;
}

.bg-color-002 {
	background-color: #F7F7F6;
}

.bg-color-010 {
	background-color: #DCD8BD;
}

.bg-color-021 {
	background-color: #E2E6E9;
}

.bg-color-022 {
	background-color: #CBC5B4;
}

.bg-color-028 {
	background-color: #DCD9D3;
}
.bg-color-029 {
	background-color: #CEC0B4;
}

.bg-color-045 {
	background-color: #000000;
}

.bg-color-048 {
	background-color: #CBCFC9;
}

.bg-color-050 {
	background-color: #646E62;
}

.bg-color-051 {
	background-color: #B6E4F9;
}

.bg-color-052 {
	background-color: #BEE2D2;
}

.bg-color-053 {
	background-color: #EDE3A1;
}

.bg-color-056 {
	background-color: #A3A8A8;
}

.bg-color-0201 {
	background-color: #E1E4EB;
}

.bg-color-4440 {
	background-color: #A5A29B;
}

.bg-color-4806 {
	background-color: #BAB7B0;
}

// background-color

.blue-bg {
	background-color: #0083C2;
}

.dark-blue-bg {
	background-color: #003865;
}

.sky-blue-bg {
	background-color: #8DC4F2;
}

.light-blue-bg {
	background-color: #B8D3EB;
}

.black-80-bg {
	background-color: #23212C;
}
.black-60-bg {
	background-color: #333434;
}

.grey-bg {
	background-color: #939598;
}

.orange-bg {
	background-color: #FF5252;
}

// text color

.blue-text {
	color: #0083C2;
}

.dark-blue-text {
	color: #003865;
}

.white-text {
	color: #fff;
}

.orange-text {
	color: #FF5252;
}

.sky-blue-text {
	color: #8DC4F2;
}

.black-80-text {
	color: #23212C;
}
.black-60--text{
	color: #333434;
}

.grey-text {
	color: #939598;
}