body{
  color: #222;
}

p, ol, ul, li{
  font-size: 1em;
  line-height: 1.6em;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
    color: #222;
}

h1 {
  text-align: left;
  font-weight: 700;
  font-size: 2.2em
}

h2 {
  text-align: left;
  font-weight: 700;
  font-size: 1.5em;
}

h3 {
  font-weight: 700;
  font-size: 1.5em;
}

a {
  &:hover, &:active {
    color: #c64344;
  }
}

section {
  background: #fff;
}

header {
  background: #23212c;
  height: 124px;

  nav.primary-menu {
    margin-top: 64px;
    width: 80%;
  }

  #logo {
    position: relative;
    img {
      width: auto;
      height: 100%;
      display: block;
      position: absolute;
      top: 30px;
    }
  }

  .info {
    padding: 0px;
    border-bottom: none;
    position: absolute;
    top: 0;
    right: 10%;
  }
}

#mainmenu{
  a {
    padding: 0px 0px 0px 25px;
    font-size: 1em;
  }

  ul {
    padding: 0px;

    li:first-child {
      padding: 0px;
    }
  }
}

footer {
  h1, h2, h3, h4, h5 {
    color: #fff;
  }
}

.contact-no {
  display: block;
  padding: 5px 15px;
  font-size: 1em;
}

.btn-m {
    width: 200px;
    border-radius: 20px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin: 14px 0px;
    color: #fff;

    i {
      float: right;
    }
}

.card {
  display: block;
  position: relative;
  background: transparent;
  border: 0px;
  border-radius: 0px;
  h2{
    font-size: 2em;
  }

  .card-footer {
    bottom: 0;
    border: 0px;
    background: transparent;
    padding-left: 0px;
  }

  .card-content {
    padding: 20px 0;
  }
}

.small-text {
  font-size: 0.8em;
  line-height: 1em;
}

.medium-text {
  font-size: 1.5em !important;
  line-height: 1.2em;
}

.large-text {
  font-size: 1.5em !important;
  line-height: 1.4em;
}

.featured-content {
  p {
    font-size: 1.5em;
    line-height: 1.7em;
    font-weight: 300;
  }
}

h2.heading-bar {
  width: 100%;
  background: #23212C;
  color: #fff;
  display: block;
  padding: 15px 0px 0 20px;
  font-size: 1.7em;
  height: 60px;
}

select {
  width: 190px;
  height: 40px;
  border-radius: 15px;
  border: 0px;
}

.height-100 {
 height: 100px;
}

.height-200 {
 height: 200px;
}

.height-300 {
 height: 300px;
}
.height-350 {
 height: 350px;
}

.height-400 {
 height: 400px;
}

.height-800 {
 height: 800px;
}

.margintop20 {
  margin-top: 20px;
}

.margintop60 {
  margin-top: 60px;
}

.partner-logos {
  img {
    width: auto;
    height:60px;
  }
}

.partner-logo {
  margin-right: 50px;
}

.product-option {
  margin-left: 60px;
}

#section-about {
  margin-top: 40px;
}

.about-bg {
  margin-top: 640px;
}

ol {
  margin:0 0 1.5em;
  padding:0;
  counter-reset:item;
}

ol>li {
  margin:0;
  padding:0 0 0 2em;
  text-indent:-2em;
  list-style-type:none;
  counter-increment:item;
}

ol>li:before {
  display:inline-block;
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
}

table.spec-table {
  width: 100%;
  font-size: 12px;
  th {
    width: 20%;
    height: 100px;
    border-bottom: 1px #222 solid;
    font-size: 14px;
    font-weight: bold;
  }

  td {
    padding: 20px;
  }
}
.blind-spec-table {

  td {
    font-weight: bold;
    &:first-child {
      font-weight: normal;
    }
  }
}

.color-circle {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #222;
  display: block;
}

.expand-group .expand:nth-child(odd) {
  background-color: transparent;
}

.expand-group .expand:last-child {
  border: none;
}

.expand {
  border: 0px;
  background-color: transparent;
}

.expand-group .expand h4:after {
  content: "\f055";
  color: #0083C2;
}

.expand h4.active:after {
   content: "\f056";
   color: #0083C2;
}

#filters {
  background-color: #23212C;
  padding: 10px;

  li {
    margin-bottom: 0px;
    border-right: 1px #fff solid;
    padding: 5px 20px;
    a {
      color: #fff;
      &:hover{
        color: #FF5252;
        background-color: transparent;
      }
    }

    a.selected {
      background-color: transparent;
      color: #FF5252;
    }
  }
}

#newsletter-form {
  input {
    margin:10px 0;
  }
}

#section-about-footer{
  background:url(../../public/images/background/bg-3.png);
}

.drop-btn {
  border-radius: 4px;
  width: 100%;
  border-bottom: 0px;
  text-align: left;
}

.drop-btn.open {
   border-radius: 4px 4px 0px 0px;
   padding-left: 5px;
}

ul.dropdownlinks {
  text-decoration: none;
  margin-left: 0px;
  list-style: none;
  padding: 0px;
  border: 1px solid rgba(34, 34, 34, 0.24);
  border-radius: 0px 0px 4px 4px;
  border-top: 0px;
  background: #fff;
}

.dropdown li{
  margin-left: 0px;
  margin: 0px 0px;
  padding: 0px 0px;
  display: block;
  list-style: none;
  position: relative;
  padding: 8px;
  color: #222;

  a {
    color: #222;
    padding-left: 10px;
  }

  &:hover{
    background-color: rgba(255, 61, 73, 0.57);
  }
}


.slide-left-foot{
  width: 51%;
  height: 300px;
  font-size: 32px !important;
  line-height: 42px !important;
  color: #222;
  padding: 32px 0 0 137px;

  .slider-links {

    margin-top: 20px;

    a.slider-link {
      color: #FF9192;
      border-bottom: 1px solid #FF9192;
      padding: 0 20px 5px 0;
      margin-right: 20px;
      font-size: 20px !important;
      font-weight: 500;

      &.active {
        color: #FF5252;
        border-bottom: 1px solid #FF5252;
      }
    }
  }
}

.slide-right-foot{
  width: 50%;
  height: 150px;
  font-size: 24px !important;
  line-height: 124px;
  padding-left: 100px;
  color: #222;
  font-weight: 500 !important;
}