body{
  color: #222;
  font-family: $font-family-sans-serif;
}

p{
  font-size: 12px;
}

h1, h2, h3, h4, h5 {
    color: #222;
    font-family: "Proxima Nova",Arial, Helvetica, sans-serif;;
}

h1 {
  text-align: left;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 34px;
  font-family: "proxima_nova_altbold", Arial, Helvetica, sans-serif;
}

a {
  &:hover,&:active {
    color: #c64344;
  }
}

section {
  background: #fff;
}

.large-text {
  font-size:  28px;
  line-height: 34px;
  font-family: "proxima_nova_ltthin", Arial, Helvetica, sans-serif;
}

header {
  background: #23212c;
  height: 124px;

  nav{
    margin-top: 60px;
    a{
      font-family: "proxima_nova_ltthin", Arial, Helvetica, sans-serif;
      font-size: 12px;
    }
  }

  .info {
    padding: 0;
    border-bottom: none;
  }
}

.container {
 width:1270px;
}

#logo img {
  height: 85px;
}

#mainmenu a {
  padding: 0px 0px 0px 30px;
  font-size: 12px;
}

footer {
  h1, h2, h3, h4, h5 {
    color: #fff;
    font-family: "Proxima Nova",Arial, Helvetica, sans-serif;;
  }
}

